@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/syn-nova");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}

.glass {
  display: flex;
  width: 550px;
  height: 650px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 20px 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-right: -450px;
}

.title {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  width: 550px;
  height: 550px;
  color: white;
  opacity: 0.45;
  font-family: "Poppins", sans-serif;
  margin-right: -180px;
  margin-top: 180px;
}
